.tablewrap {
    margin: 0px auto;
    width: 300px;
    position:relative;
}
.product {
    border-top: solid;
    border-left: solid;
    border-right: solid;
    height: 200px;
    width: 300px;
    position: relative;
}
.ending {
    border-top: solid;
    border-left:solid;
    border-right:solid;
    width: 300px;
    position: relative;
}
.section {
    display: inline-block;
    height: 200px;
    position: relative;
}
.info {
    border-left:solid;
    height:200px;
    position:relative;
    
}
.image {
    height: 150px;
    width : 105px;
    position: absolute;
    top: 0;
    display:  flex;
    align-items: center;
    justify-content:  center;
}
.intro {
    border-top:solid;
    height: 50px;
    width: 105px;
    position: absolute;
    bottom:0;
    text-align: center;
}
img {
    width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%; 
}
.product_name {
    font-size:13px;
}
.price {
    font-size:12px;
}