.tablewrap {
    margin: 0px auto;
    width: 300px;
}
.product {
    border-top: solid;
    border-left: solid;
    border-right: solid;
    height: 200px;
    width: 300px;
}
.ending {
    border-top: solid;
    border-left:solid;
    border-right:solid;
    width: 300px;
}
.section {
    display: inline-block;
    height: 200px;
}
.info {
    border-left:solid;
    height:200px;
}
.image {
    height: 150px;
    width : 105px;
}
.intro {
    border-top:solid;
    height: 40px;
    width: 105px;
}